<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tunr: The best darn thing in web music database shenanigans</title>
</head>
<body>
<header>
    <h1> This is Tunr. Where the Music hits the Road</h1>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/artist">All Artists Currently in the Database.</a></li>
        <li><a href="/artist/new">Add a New Artist to our State of the Art System!</a></li>
        <li><a href="/artist/edit">Correct some of that info, bro.</a></li>
    </ul>
</header>

{{{body}}}

<footer>
    <h2>Footer info will go here, once I have a bloody clue what should go here.</h2>
    <!--<p></p>-->
    <h4>(Info from Spotify. These are all links and separated bits of info... my attention needs to be elsewhere, so this is a placeholder for now)</h4>
    <h3>Company:</h3>
    <h2>About, Jobs, Press, News</h2>
    <h3>Communities:</h3>
    <h4>For Artists, Developers, Brands</h4>
    <h3>Useful Links:</h3>
    <h4>Help, Gift, Web Player</h4>
</footer>
</body>
</html>